.logo__cursor {
	width: 2px !important;
	height: 1.4rem;
}

.menu a {
	font-weight: normal;
	letter-spacing: 2px;
}

.post-content {
	font-family: Helvetica, Arial, sans-serif;
	font-weight: 400 !important;
}

.gist table,td,th{
	border: initial;
}

.gist .blob-num {
    padding: 1px 10px!important;
    background: transparent;
}

.post-content .gist .blob-code {
    padding: 1px 30px!important;
}

table, td, th {
    border: none;
}

.post-title {
	font-family: "Playfair Display", Georgia, serif, Helvetica,Roboto,Segoe UI,Arial !important;
	font-weight: 400;
	font-size: 1.8rem;
	margin: 0 0 10px;
	--shadow-color: rgba(0,0,0,0.12);
	--shadow: 0 8px 20px var(--shadow-color);
}

@media (max-width:683px) {
	.post-title {
		font-size: 2rem
	}
}

body {
    font-family: "Jost*",-apple-system,BlinkMacSystemFont,Helvetica,Arial,sans-serif;
    font-feature-settings: "liga","tnum","case","calt","zero","ss01","locl";
    line-height: 2.2;
    background-color: #fff;
    background-color: var(--background);
    color: #222;
    color: var(--color);
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

.post-content>:first-child::first-letter {
    float: left;
    height: 2em;
    margin-top: 0;
    margin-right: 8px;
    color: #555;
    font-size: 4rem;
    line-height: 1;
    font-style: normal;
    font-weight: normal
}

.post-cover img {
	width: 100%;
	height: inherit !important;
}

.footer .copyright {
    line-height: 1.2;
}

#comment {
	padding: 4rem 0;
}

.valine img {
	display: inline !important;
	height: 100%;
}

.post-meta {
    color: var(--color-secondary);
}

.header__right {
    line-height: 1;
}

.pagination__buttons a {
    font-weight: 500;
}

.post-cover img {
	border-radius: 0;
}

.button {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
	background: var(--background-secondary);
    font-size: .8rem;
    font-weight: 400;
    border-radius: 2px;
    max-width: 40%;
    padding: 0;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
	appearance: none;
	-webkit-transition: .5s;
	transition: .5s;
	text-transform: uppercase;
}

.button:focus, .button:hover {
    color: var(--background);
    border-color: var(--color);
    text-decoration: none;
    background-color: var(--color);
    border-color: var(--color);
}

.c-tags {
    overflow: hidden
  }

  .c-tags a {
    float: left;
    padding: 8px 20px;
    margin: 0 8px 8px 0;
    font-size: 14px;
    font-weight: 400;
    font-family: Rubik, Helvetica, Arial, sans-serif;
    line-height: 22px;
    color: var(--color-secondary);
    background-color: var(--background-secondary);
    -webkit-transition: .5s;
	transition: .5s;
	text-decoration: none;
  }

  @media (max-width:39.99em) {
    .c-tags a {
      margin-bottom: 14px
    }
  }

  .c-tags a:active,
  .c-tags a:focus,
  .c-tags a:hover {
    color: #778da6;
    text-decoration: none
  }

  .c-tag-card {
    position: relative;
    margin-bottom: 48px;
    background-color: #f6f9fc
  }

.archive__group-year-header, .archive__group-month-header, .archive__post-title{
	font-weight: normal;
	font-family: "Jost*",-apple-system,BlinkMacSystemFont,Helvetica,Arial,sans-serif;
}

/* searchBoxInput */
/* .menu .search-box-icon {margin-top: 11px; } */
.searchPage{min-height:300px}
.search-box {position: relative; margin-bottom: 20px; } #searchBoxInput {padding: 0.5rem 2rem 0.5rem 1rem; width: 16rem; background:#eaeaea; border-radius: 1rem; outline: 0; font-size: 1rem; color: inherit; border: 0px; box-sizing: border-box; }
.dark-theme .search-box #searchBoxInput {background: #3b3d42; }
#searchBoxButton {display: inline; background: none; margin: 0rem; border:0 none; border-radius: 0; padding: 0.4rem 0.6rem 0.4rem; }
.search-box-icon {color: inherit; fill: currentColor; width: 1.1rem; height: 1.1rem; }

/* post-preview --------*/
.post-preview {
	max-width: 680px;
	height: 210px;
	margin: 1em auto;
	position: relative;
	display: flex;
	background: var(--background-secondary);;
	border-radius: 4px;
	box-shadow: 0 1px 2px var(--border-color), 0 0 1px var(--border-color);
}

.post-preview--meta {
	width: 75%;
	padding: 25px;
	overflow: hidden;
}

.post-preview--middle {
	line-height: 28px;
}

.post-preview--title {
	font-size: 18px;
	margin: 0!important;
}

.post-preview--title a {
	text-decoration: none;
}

.post-preview--date {
	font-size: 14px;
	/* color: var(--color-secondary); */
}

.post-preview--excerpt {
	font-size: 14px;
	line-height: 1.825;
}

.post-preview--excerpt p {
	margin-bottom: 0;
}

.post-preview--image {
	height: auto;
	width: 25%;
	float: right;
	border-top-right-radius: 2px!important;
	border-bottom-right-radius: 2px!important;
	border-top-left-radius: 0!important;
	border-bottom-left-radius: 0!important;
}

@media (max-width:550px) {
	.post-preview {
		width: 95%;
		height: 120px;
	}
	.post-preview--meta {
		padding: 15px;
	}
	.post-preview--image {
		height: 120px!important;
	}
	.post-preview--excerpt {
		display: none;
	}
	.post-preview--middle {
		line-height: 19px;
	}
}


.rating-average {
	color: var(--color);
	display: inline-block;
	font-size: 13px;
	margin-left: 10px;
}

.dark-theme .post-preview {
	background: var(--background);
}

